/* 
    This is the css script for styling Collections components.    
*/

.collections-info-container{
    padding-top: 50px;
    max-width: 1140px;
    margin: auto;
}

.collection-content{
    padding-top: 25px;
    color: #788188;
}

.collection-ontologies-text{
    color: #6C757D!important;
}