/* 
    This is the css script for styling Collections components.    
*/

.collections-info-container{
    /* 
        The style for the collections page container
    */

    padding-top: 50px;
    max-width: 1140px;
    margin: auto;
    color: #42484e;
}

.collection-content{
    /* 
        The style for each collection text content
    */

    padding-top: 25px;
    color: #42484e;
}

.collection-ontologies-text{
    /* 
        The style for each collection ontologies list div
    */

    color: #42484e!important;
    word-wrap: break-word;
}

.ontologies-link-tag{
    /* 
        The style for each collection ontologies links
    */

    text-decoration: none;
    color: #009cbc;
    margin-left: 10px;
    font-size: 18px;
}

.collection-card-row{
    /* 
        The style for each collection row container
    */

    margin-bottom: 30px;
}