/* 
    This is the css script for styling Collections components.    
*/


.collection-ontologies-text{
    /* 
        The style for each collection ontologies list div
    */

    word-wrap: break-word;
}

.ontologies-link-tag{
    /* 
        The style for each collection ontologies links
    */

    margin-left: 10px;
    font-size: 16px;
}

.collection-card-row{
    /* 
        The style for each collection row container
    */

    margin-bottom: 80px;
}

.collections-info-container{
    /* 
        Style for the collection page wraper
    */

    padding-top: 25px;
}

.collection-logo-in-list{
    /* 
        Style for the collection logos images
    */

    width: 300px;
    height: 200px;
    padding: 40px;
}

/* 
 ----------------------------------
 Start of media queries for responsive desing
 -----------------------------------
*/


@media only screen and (max-width: 1025px) {
    .collection-logo-in-list{
        /* 
            Style for the collection logos images
        */
    
        width: 200px;
        height: 150px;
    }
  }