/* 
    This is the css script for styling common components.
    This page includes the header, footer, homepage, and Navbar.
*/


/* 
-------------------------------------
General site styles
-------------------------------------
*/

body{
   /* 
      The tyle for the site body
   */

   background-color: #ECF0F0;
   font-size: 1.25rem;
   font-weight: 300;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* 
-------------------------------------
The Header styles 
-------------------------------------
*/

.header {
    /* 
       The style for overall header dimensions
    */
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
.header-top {
    /* 
       The style for the autocomplete field
    */
    display: flex;
    width: 100%;
    height: 200px;
  }
  
.header-top__logo {
    /* 
       The style for the project logo dimensions in header
    */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
  }
  
.header-logo {
    /* 
       The style for the project logo
    */
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 100px;
  }
  
.header-top__navbar {
    /* 
       The style for adjusting header dimensions with navbar
    */
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
.header-top__seperator {
    /* 
       The style for header top
    */
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
  }
  
.header-top__navigation {
    /* 
       The style for header navigation
    */
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
  }
  
.header-bottom {
    /* 
       The style for header and bottom elements
    */
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
  }

  
/* 
-------------------------------------
The Navbar styles 
-------------------------------------
*/

.navbar {
    /* 
       The style for navabr dimensions
    */
    display: flex;
    flex-direction: row;
  }
  
.navbar-item {
    /* 
       The style for elements in navbar
    */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    font-size: 20px;
  }
