/* 
    This is the css script for styling common components.
    This page includes the header, footer, homepage, and Navbar.
*/


/* 
-------------------------------------
General site styles
-------------------------------------
*/

body{
   /* 
      The tyle for the site body
   */

   background-color: #ECF0F0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fxOSmo{
   background-color: #2B3C46 !important;
   color: white !important;
}

/* 
-------------------------------------
The Header styles 
-------------------------------------
*/

.header-warpper{
   /* 
      The main box for the site header
   */

   background-repeat: no-repeat;
   background-image: url('../../assets/img/background.png');
   background-position: right center;
   background-color: #0E6668;
   padding: 10px;
   max-height: 700px;
}

.container.site-header{
   /* 
      The style for site header bootstarp container class
   */

   text-align: center;
   margin: auto;
}

.site-header-nav-logo-holder{
   /* 
      The warapper box for the site main navbar
   */

   padding-left: 10%;
   padding-right: 10%;
   margin-bottom: 30px;
   width: 120%;
}

.site-header-searchbox-holder{
   /* 
      The warapper box for the site main search input
   */

   padding-left: 10%;
   padding-right: 10%;
   margin-bottom: 40px;
}


.site-header-top-row{
   /* 
      The warapper box for the site top row containing Login
   */

   text-align: right;
   color: white;
   margin-bottom: 20px;
}

.site-header-top-row > a{
   /* 
      The warapper box for the site top row anchors containing Login
   */

   text-decoration: none;
   color: white;
}

.header {
    /* 
       The style for overall header dimensions
    */
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
.header-top {
    /* 
       The style for the autocomplete field
    */
    display: flex;
    width: 100%;
    height: 250px;
  }
  
.header-top__logo {
    /* 
       The style for the project logo dimensions in header
    */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
  }

.main-title {
   /* 
       The style for the site title
    */
   color: #ffffff;
   text-decoration: none;
   margin-left: 10px;
   font-size: 18px;
}

.main-title:hover {
   /* 
       The style for the site title hover
    */
   color: #ffffff;
   text-decoration: none;
}
  
.header-logo {
    /* 
       The style for the project logo
    */
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 100px;
  }
  
.header-top__navbar {
    /* 
       The style for adjusting header dimensions with navbar
    */
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
.header-top__seperator {
    /* 
       The style for header top
    */
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
  }
  
.header-top__navigation {
    /* 
       The style for header navigation
    */
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
  }
  
.header-bottom {
    /* 
       The style for header and bottom elements
    */
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
  }

  
/* 
-------------------------------------
The Navbar styles 
-------------------------------------
*/

.navbar {
    /* 
       The style for navabr dimensions
    */
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
  }
  
.navbar-item {
    /* 
       The style for elements in navbar
    */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  .navbar-item:hover{
      color: white !important;
      text-decoration: underline !important;
  }



/* 
-------------------------------------
The Pagination styles 
-------------------------------------
*/

.pagination-holder {
   /* 
      Style for the pagination ul (holder)
   */

   display: flex;
   padding-left: 0;
   list-style: none;
   justify-content: flex-end;
   margin-top: 30px;
 }

.pagination-btn{
   /* 
      Style for each pagination button (li)
   */

   position: relative;
   display: block;
   padding: 0.5rem 0.75rem;
   margin-left: -1px;
   line-height: 1.25;
   color: #009cbc;
   background-color: white;
   border: 1px solid #dee2e6;
   cursor: pointer;
}

.pagination-btn:hover{
   /* 
      Style for each pagination button (li) mouse over
   */

   background-color: #E9ECEF;
}

.pagination-start{
   /* 
      Style for the first pagination button (Previous)
   */

   margin-left: 0;
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
}

.pagination-end{
   /* 
      Style for the last pagination button (Next)
   */

   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

.pagination-link{
   /* 
      Style for the pagination button anchor
   */

   text-decoration: none;
   color: #009cbc;
}

.pagination-link:hover{
   /* 
      Style for the pagination button anchor mouse over
   */

   color: #0B6376;
}

.selected-page{
   /* 
      Style for the selected page on the pagination
   */

   background-color: #a9c9e4;
}

.out-of-range-hidden-page-btn{
   /* 
      Hide the out of range buttons. 
      !!! Do NOT Remove this !!!
   */

   display: none;
}

