
 /* 
 ----------------------------------------------
React-Autosuggest library
 ---------------------------------------------
 */
 .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;    
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }


/* 
-------------------------------------------------------
Media Query Area for bein responsive
-------------------------------------------------------
*/

@media only screen and (max-width: 3000px) and (min-width: 1501px) {       
          
}
@media only screen and (max-width: 1500px) and (min-width: 1300px) {       
    
    .jumpto-wrapper{
        width: 90% !important;
    }
    .tree-action-button-area{
        right: 30px !important;
    }
    .collection-card{     
        padding: 10px;        
    }
    .collection-logo{      
        margin-left: 0px;
    }
    button{        
        font-size: 12px;        
     }    
    .btn-secondary{    
        font-size: 12px;        
     }     
    body{
        font-size: 14px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    button,.btn{
        font-size: 10px !important;
    }
    .close{
        font-size: 20px !important;
    }
    input::-moz-placeholder {
        font-size: 11px !important;
    } 
    ::-webkit-input-placeholder {
        font-size: 11px !important;
     } 
    
}
@media only screen and (max-width: 1299px) and (min-width: 901px) {       
    
    .jumpto-wrapper{
        width: 80% !important;        
    }
    .tree-action-button-area{
        right: 40px !important;
    }   
    .site-footer{
        font-size: 10px;        
    }
    .footer-logo{
        width: 200px;
        height: 50px;
    }
    .navbar-item {
       float: right !important;
      }
  
    .navbar-nav{    
        margin-top: 10px;
        margin-right: 40px;
    }
    .navbar-collapse-btn{      
        margin-right: 40px;
    }
    .collection-card{     
        padding: 10px;        
    }
    .collection-logo{      
        margin-left: 0px;
    }
    .general-home-page-content{
        padding-left: 5%;
        padding-right: 5%;    
    }
    .collection-logo-in-list{    
        width: 200px;
        height: 150px;
    }   
    .pagination-holder{
        font-size: 12px;
    } 
     body{
        font-size: 13px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    button,.btn{
        font-size: 10px !important;
    }
    .close{
        font-size: 20px !important;
    } 
    input::-moz-placeholder {
        font-size: 11px !important;
    } 
    input::-webkit-input-placeholder {
        font-size: 11px !important;
     } 
}

@media only screen and (max-width: 900px) {
    .navbar-item {      
      float: right !important;
     }
 
     .navbar-nav{     
       margin-top: 10px;
     }
 
     .site-header-searchbox-holder{      
       padding-left: 0px;
       padding-right: 0px;
       margin-bottom: 40px;
    }
    .general-home-page-content{ 
        padding-left: 5%;
        padding-right: 5%;    
    }

    .collection-card{ 
        padding: 10px;        
    }

    .collection-logo{
        margin-left: 0px;
    }
    .collection-logo-in-list{    
        width: 200px;
        height: 150px;
    }
    body{
        font-size: 10px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    button,.btn{
        font-size: 10px !important;
    }   
    .close{
        font-size: 20px !important;
    }  
    input::-moz-placeholder {
        font-size: 10px !important;
    } 
    ::-webkit-input-placeholder {
        font-size: 10px !important;
     } 
 }


