/* 
    This is the css script for the general application style.    
*/

body{
    /* 
       The style for the site body
    */
 
    background-color: #ECF0F0;   
    color: #42484e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
 }

 .application-content{
    /* 
        The style for the application inner content (between the header and footer)
    */

    margin: auto;
    width: 70%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 500px;
}

p{
    text-align: justify;
}
 
 a{
    /* 
       The style for the site anchors
    */

    color: #0E6668;
    text-decoration: none;
 }
 
 a:hover{
    /* 
       The style for the site anchors while hovering
    */

    text-decoration: underline;
    color: #0E6668; 
 }

 .term-button{
    /* 
        The style for a button representing a term (class/propperty)
    */

    background-color: #0E6668;
    color: white;
    margin-left: 15px;
    padding: 2px;
    margin-top: -5px;
    border-color:  #0E6668;
 }

 .term-button:hover{
    /* 
        The style for a button representing a term (class/propperty) on hover
    */

    text-decoration: none;
    background-color: #1baeb1;
    color: white;
 }

.ontology-button{
    /* 
        The style for a button representing an ontology
    */

    background-color: #E86161;
    color: white;
    margin-left: 10px;
    padding: 2px;
    margin-right: 10px;
    border-color: #E86161;
}

.ontology-button:hover{
    /* 
        The style for a button representing an ontology on hover
    */

    text-decoration: none !important;
    background-color: #f1a6a6 !important;
}

.facet-box{
    /* 
        The style for each facet input box
    */

    background-color: white;
    padding-right: 10px;
    padding-top: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.facet-result-count{
    /* 
       The style for counter in facet fields
    */
    border-radius: 50px;
    background-color: #2B3C46;
    color: white;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-weight: 700 !important;
    font-size: 75% !important;
    line-height: 1 !important;
    float: right;
}

.facet-item-row:hover{
    /* 
       The style for colour changes for mouse hover one the facet items
    */
    background-color: rgba(119, 122, 121, 0.192);
    border-radius: 15px;
}

.result-card{
    /* 
        The style for each search result item. Used in the search result and ontology list.
    */
    
    background-color: white !important;
    margin-top: 10px;
    padding: 10px;
    height: auto;
    text-align: justify;
}



 
 /* .fxOSmo{
    background-color: #2B3C46 !important;
    color: white !important;
 } */