
/* 
---------------------------------------------
Notes
---------------------------------------------
*/

.note-list-card{
    margin-bottom: 10px;
    border: 1px solid rgb(94, 93, 93) !important;   
}

.card-header{    
    padding: 2px !important;    
 }

 .card-body{
    padding: 5px !important;    
 }


.note-list-title{
    color: black;
    font-weight: bold;    
    width: 80%;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;    
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.note-comment-editor-warpper{
    background-color: #e9e6e6;
    height: 250px;
}

.note-comment-editor{
    height: 190px !important;
}

.note-comment-submit-btn{    
    margin-top: 2px;
    float: right;
}

.note-comment-cancel-edit-btn{
    margin-top: 2px;
    float: right;
    margin-right: 5px;
    background-color: rgb(211, 208, 208) !important;
    color: black !important;
}

.note-comment-card{
    padding: 20px;
    padding-left: 0;
    border-left: 1px solid #ccc; 
    margin-left: 20px; 
}

.note-dropdown-toggle::after {
    display: none !important; 
}
.fa-ellipsis-h{
    border: none;
    font-size: 20px;    
}
.note-dropdown-btn{
    background-color: #F7F7F7 !important;
    color: black !important;
    border: none !important;
}

.note-dropdown-menu .note-dropdown-item:hover {
    background-color: transparent !important;
    color: inherit !important;
}
  
.note-dropdown-menu .note-dropdown-item:hover {
    cursor: auto !important;
}

/* .note-card-footer{
    border-top: none !important;
    background-color: white !important;    
} */

.btn-delete-note{
    background-color: white !important;
    border: none !important;
    color: red;
}
.btn-delete-note:hover{
    color: red;
}

.note-action-menu-btn{
    border: none !important;
    background-color: white !important;
    color: black !important;
}

.note-action-menu-btn:hover{
    color: black !important;    
}

.borderless-btn:active,
.borderless-btn:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.note-link-copy-message{
    display: inline;
    margin-left: 20px;
    background-color: #3efa3e;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
}

.pinned-message-icon{
    margin-left: 10px;
    background-color: #404040;
    color: white;
    border-radius: 15px;
    width: 60px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
}


/* 
-------------------------------------------------------
Login and Auth
-------------------------------------------------------
*/

.github-login-btn, .github-login-btn:hover, .github-login-btn:focus{
    /* 
        GitHub sign in button.
    */

    background-color: black;
    color: white;
    width: 300px;
    border: 1px solid black;
}

.orcid-login-btn, .orcid-login-btn:hover, .orcid-login-btn:focus{
    /* 
        ORCID sign in button.
    */

    background-color: #A6CE39;
    color: white;
    width: 300px;
    border: 1px solid #A6CE39;
}

.fa-orcid{
    font-size: 30px;
}

.loginModal {
    /* 
        Style for the login modal.
    */

    margin-top: 10%;
}

.fa-github{
    /* 
        Gothub fontawsome style.
    */

    border: none;
    font-size: 30px;
}

.overlay {
    /* 
        Login loading spinner container
    */

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 40%;
    left: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: none;
 }

 .spinner-grow{
    /* 
        Login loading spinner
    */

    width: 300px;
    height: 300px;
 }

 .login-load-text{
    /* 
        Login loading text
    */

    color: black;
 }

 .login-modal-hint-text{
    color: black !important;
    text-align: justify;
 }

 .fa-comment, .fa-question-circle{
    border: none;
    font-size: 16px;
 }
 
 .fa-eye{
    border: none;
    font-size: 16px;
    margin-right: 2px;
 }

 .fa-trash{
    border: none;
    font-size: 16px;
    margin-right: 2px;
    color: red;
 }

 .fa-edit{
    border: none;
    font-size: 13px;
    margin-right: 2px;    
 }


 /* 
 ----------------------------------------------
React-Autosuggest library
 ---------------------------------------------
 */
 .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 100%;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;    
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }


/* 
-------------------------------------------------------
Media Query Area for bein responsive
-------------------------------------------------------
*/

@media only screen and (max-width: 3000px) and (min-width: 1501px) {       
          
}
@media only screen and (max-width: 1500px) and (min-width: 1300px) {       
    
    .jumpto-wrapper{
        width: 90% !important;
    }
    .tree-action-button-area{
        right: 30px !important;
    }
    .collection-card{     
        padding: 10px;        
    }
    .collection-logo{      
        margin-left: 0px;
    }
    button{        
        font-size: 12px;        
     }    
    .btn-secondary{    
        font-size: 12px;        
     }     
    body{
        font-size: 14px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    button,.btn{
        font-size: 10px !important;
    }
    .close{
        font-size: 20px !important;
    }
    input::-moz-placeholder {
        font-size: 11px !important;
    } 
    ::-webkit-input-placeholder {
        font-size: 11px !important;
     } 
    
}
@media only screen and (max-width: 1299px) and (min-width: 901px) {       
    
    .jumpto-wrapper{
        width: 80% !important;        
    }
    .tree-action-button-area{
        right: 40px !important;
    }   
    .site-footer{
        font-size: 10px;        
    }
    .footer-logo{
        width: 200px;
        height: 50px;
    }
    .navbar-item {
       float: right !important;
      }
  
    .navbar-nav{    
        margin-top: 10px;
        margin-right: 40px;
    }
    .navbar-collapse-btn{      
        margin-right: 40px;
    }
    .collection-card{     
        padding: 10px;        
    }
    .collection-logo{      
        margin-left: 0px;
    }
    .general-home-page-content{
        padding-left: 5%;
        padding-right: 5%;    
    }
    .collection-logo-in-list{    
        width: 200px;
        height: 150px;
    }   
    .pagination-holder{
        font-size: 12px;
    } 
     body{
        font-size: 13px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    button,.btn{
        font-size: 10px !important;
    }
    .close{
        font-size: 20px !important;
    } 
    input::-moz-placeholder {
        font-size: 11px !important;
    } 
    input::-webkit-input-placeholder {
        font-size: 11px !important;
     } 
}

@media only screen and (max-width: 900px) {
    .navbar-item {      
      float: right !important;
     }
 
     .navbar-nav{     
       margin-top: 10px;
     }
 
     .site-header-searchbox-holder{      
       padding-left: 0px;
       padding-right: 0px;
       margin-bottom: 40px;
    }
    .general-home-page-content{ 
        padding-left: 5%;
        padding-right: 5%;    
    }

    .collection-card{ 
        padding: 10px;        
    }

    .collection-logo{
        margin-left: 0px;
    }
    .collection-logo-in-list{    
        width: 200px;
        height: 150px;
    }
    body{
        font-size: 10px;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1rem !important;
    }
    button,.btn{
        font-size: 10px !important;
    }   
    .close{
        font-size: 20px !important;
    }  
    input::-moz-placeholder {
        font-size: 10px !important;
    } 
    ::-webkit-input-placeholder {
        font-size: 10px !important;
     } 
 }


