.home-page-content-container{
    /* 
        The home page main container
    */

    padding-top: 3rem !important;
    padding-bottom: 1.5rem !important;
}

.collection-card{
    /* 
        Style for the collection box on the home page.
    */

    background-color: white;
    padding: 20px;
    /* max-height: 400px; */
}

.trunc{
    /* 
        Truncating the collection text in the card
    */

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 400px;    */
}

.collection-card-text{
    /* 
        Style for the text part of a collection card
    */

    margin-top: 20px;
}

.collection-logo{
    /* 
        Collection logo image style
    */

    width: 500px;
    height: 300px;
}

.home-page-stats-container{
    /* 
        The home page stats container
    */

    padding-top: 3rem !important;
    padding-bottom: 1.5rem !important;
}

.stats-box{
    /* 
        The style for the stats box
    */

    color: white;
    background-color: #005C5F;
    padding-top: 10px;
    padding-bottom: 10px;
}

