@media only screen and (min-width: 1200px) {
    .header-wrapper{
        max-height: 220px;
     }
}

@media only screen and (max-width: 1025px) {
    .application-content{ 
        width: 95%;                
    }

    .site-footer{
        font-size: 10px;
        position: fixed;
    }

    .footer-logo{
        width: 200px;
        height: 50px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1300px) {       
    
    body .jumpto-wrapper{
        width: 90%;
    }
    body .tree-action-button-area{
        right: 30px;
    }
    .collection-card{     
        padding: 10px;        
    }
    .collection-logo{      
        margin-left: 0px;
    }
    button{        
        font-size: 12px;        
     }    
    .btn-secondary{    
        font-size: 12px;        
     }     
    body{
        font-size: 14px;
    }
    body h1,h2,h3,h4,h5,h6{
        font-size: 1rem;
    }
    body button,.btn{
        font-size: 10px;
    }
    body .close{
        font-size: 20px;
    }
    body input::-moz-placeholder {
        font-size: 11px;
    } 
    body ::-webkit-input-placeholder {
        font-size: 11px;
     } 
    
}
@media only screen and (max-width: 1299px) and (min-width: 901px) {       
    
    body .jumpto-wrapper{
        width: 80%;        
    }
    body .tree-action-button-area{
        right: 40px;
    }   
    .site-footer{
        font-size: 10px;        
    }
    .footer-logo{
        width: 200px;
        height: 50px;
    }
    body .navbar-item {
       float: right;
      }
  
    .navbar-nav{    
        margin-top: 10px;
        margin-right: 40px;
    }
    .navbar-collapse-btn{      
        margin-right: 40px;
    }
    .collection-card{     
        padding: 10px;        
    }
    .collection-logo{      
        margin-left: 0px;
    }
    .general-home-page-content{
        padding-left: 5%;
        padding-right: 5%;    
    }
    .collection-logo-in-list{    
        width: 200px;
        height: 150px;
    }   
    .pagination-holder{
        font-size: 12px;
    } 
     body{
        font-size: 13px;
    }
    body h1,h2,h3,h4,h5,h6{
        font-size: 1rem;
    }
    body button,.btn{
        font-size: 10px;
    }
    body .close{
        font-size: 20px;
    } 
    body input::-moz-placeholder {
        font-size: 11px;
    } 
    body input::-webkit-input-placeholder {
        font-size: 11px;
     } 
}

@media only screen and (max-width: 900px) {
    body .navbar-item {      
      float: right;
     }
 
     .navbar-nav{     
       margin-top: 10px;
     }
 
     .site-header-searchbox-holder{      
       padding-left: 0px;
       padding-right: 0px;
       margin-bottom: 40px;
    }
    .general-home-page-content{ 
        padding-left: 5%;
        padding-right: 5%;    
    }

    .collection-card{ 
        padding: 10px;        
    }

    .collection-logo{
        margin-left: 0px;
    }
    .collection-logo-in-list{    
        width: 200px;
        height: 150px;
    }
    body{
        font-size: 10px;
    }
    body h1,h2,h3,h4,h5,h6{
        font-size: 1rem;
    }
    body button,.btn{
        font-size: 10px;
    }   
    body .close{
        font-size: 20px;
    }  
    body input::-moz-placeholder {
        font-size: 10px;
    } 
    body ::-webkit-input-placeholder {
        font-size: 10px;
     } 
 }


