/* 
    This is the css script for styling ontology related pages and their components.
    The ontology pages includes the general ontology overview, class tree, property tree, Mapping, and ontology list view.
*/



/* 
-------------------------------------
The ontology list page styles. 
-------------------------------------
*/


#ontologylist-sort-grid > div{
    /* 
        The styles for sort type drop-down menu container in the ontology list view.
    */

    float: right;    
}

#ontology-list-sorting{
    /* 
        The styles for sort type drop-down menu in the ontology list view.
    */

    margin-left: 5px;
    background-color: white;
    border-color: white;
    color: #42484e;
    margin-top: 5px;
}


.ontology-title-text-in-box{
    /* 
        The style for the ontology title text in a card
    */

    text-decoration: none !important;
    color: #42484e !important;
}

.ontology-card-description{
    /* 
        The styles for the description part for each ontology box in the ontology list view. 
    */

    margin-top: 30px;
}

.ontology-list-facet-header{
    /* 
        The syle for the facet content under the "Filter" in the ontology list page. 
    */

    margin-bottom: 25px;
}

.ontology-card-meta-data{
    /* 
        The styles for the stats part (right side) for each ontology box in the ontology list view. 
    */

    padding-left: 40px;
}

#ontologylist-search-grid > .MuiFormControl-root.MuiTextField-root{
    /* 
       The syle for the search input field in the ontology list page.
    */

    width: 100%;
    background-color: white;
}

#ontologylist-search-grid > .MuiFormControl-root.MuiTextField-root > .MuiOutlinedInput-root > .MuiInputBase-input{
    /* 
       The syle for the search input field font in the ontology list page.
    */

    font-size: 15px;
}

.ontology-collection-name{
    /* 
        Style for the collection span inside an ontology card.
    */

    margin-left: 5px;
}

.ontology-list-facet-section-box{
    /* 
        Style for the facet field holder (box and title) in the ontology list facet.
    */

    margin-top: 30px;
    width: 100% !important;
}


#lastUpdateRange{
    /* 
        The style for time range label
    */

    margin-left: 10px;
}

.facet-switch-holder{
    /* 
        The style for the facet switch button holder container (first row of the facet box)
    */

    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}



/* 
-------------------------------------
The ontology detail page styles. It contains the ontology overview page.
-------------------------------------
*/


.ontology-detail-table, .ontology-metric-table{
    /* 
        The styles for the ontology overview tables (Detail and Metrics) 
    */

    border-collapse: collapse;
    width: 90%;
}


.ontology-detail-table  td, th{
    /* 
        The styles for the ontology ovewview tables (Detail) rows. 
    */

    border: 1px solid #dad2d2;
    text-align: left;
    padding: 8px;
}

.ontology-metric-table  td, th{
    /* 
        The styles for the ontology ovewview tables (Metrics) rows. 
    */

    border-bottom: 1px solid #DFE4E5;
    text-align: left;
}

.copy-link-btn{
    /* 
        The styles for the copy link (url) buttons. 
    */

    margin-left: 20px !important;
    font-size: 10px !important;
    padding: 5px !important;
    height: 20px;
    width: 20px;
}

.download-ontology-btn{
    /* 
        The styles for the download buttons for an ontology. 
    */

    margin-right: 20px !important;
    background-color: #555555 !important;
}


.ontology-detail-navbar{
    /* 
        The style for ontology detail page navbar
    */

    
    background-color: #ECF0F0 !important;
    border-radius: 25px !important;
    margin-bottom: 20px;
}

.MuiTab-root{
    /* 
        The style for each tab in the ontolog detail page navbar.
    */

    color: #1C6F7F !important;
}


.Mui-selected{
    /* 
        The style for selected tab in the ontolog detail page navbar.
    */

    background-color: white !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    color: black !important;
}




/* 
-------------------------------------
The Tree view and detail table styles (for both classes and properties)
-------------------------------------
*/

.tree-container{
    /*
        The styles for the tree view container. 
        It is responsible for the left part of the tree page that keeps the tree inside. 
     */

    height: 1000px;
    overflow-y: scroll;
    padding-bottom: 500px !important;
    padding-top: 30px !important;
    z-index: 999;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: white;
    border-radius: 10px;
}

.node-table-container{
    /* 
        The styles for the container that wrapp a node (class/property) detail table on the right side of the tree view page.
    */

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.reset-tree-btn{
    /* 
        The styles for the Reset Tree button.
    */

    margin-bottom: 10px !important;
}

.loading-sign-div{
    /* 
        The styles for the loading sign while loading a tree view.
    */

    margin-left: 100px;
    margin-top: 100px;    
}

.p-icon-style{
    /* 
        The styles for the P symbol. 
        The symbol shows the "part_of" relation between a node and its parent in the tree.
    */
    
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 50px;
    font-size: 10px;
    margin-right: 5px;
}


.node-metadata-label{
    /* 
        The metadata label style for nodes (class/property)  in the detail table. 
    */

    font-weight: bold !important;
    font-size: 15px !important;
    /* padding: 5px; */
    text-align: left;
}

.node-metadata-value{
    /* 
        The metadata value style for nodes (class/property)  in the detail table. 
    */

    /* padding: 7px; */
    font-size: 15px !important;
}

.node-detail-table-row{
    /* 
        The table row style for nodes (class/property)  in the detail table. 
    */

    border-bottom: 1px solid black;
}


.tree-node-li {
    /* 
        The style for a node (class/property) in a tree view
    */

    padding-left: 2em;
    margin-bottom: 5px;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;    
    border-left: 1px dotted !important;
    border-left-color: gray;
    font-size: 13px !important;
}

.tree-node-li::before{
    /* 
        For thr tree view heirarchy style.
    */

    content: "...";
}


.li-label-text:hover{
    /* 
        The style for mouse over a node text on a tree veiw.
    */

    background-color: rgb(218, 218, 218);
}

.clicked{
    /* 
        The style for a clicked (selected) node in a tree view. 
    */

    background-color: rgb(199, 199, 199);
    color: black;
    font-weight: bold;
}

.fa{
    /* 
        Forntawsome style modification for the tree view. 
    */

    display: inline !important;
    border: 1px solid;
    margin-right: 5px;
}

.closed > i{
    /* 
        The style for a node expand icon when it is closed and has children nodes.
    */

    color: gray;
}

.opened > i{   
    /* 
        The style for a node expand icon when it is expanded and has children nodes.
    */

    color: gray;
}

.leaf-node > i{  
     /* 
        The style for a node expand icon it has not children nodes (leaf node).
    */

    color: gray;
}

.tree-action-btn{
    /* 
        Styles for the tree-related action buttons like "reset"
    */

    font-size: 11px !important;
    margin-bottom: 5px !important;
    width: 100% !important;
}

.node-tag{
    /* 
        Styles for the "subClass of" tags (.term-button) holder div in the detail table
    */

    float: left;
}


.isLoading {
    /* 
        Style for the loading animation
        source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader
    */

    margin-left: 40%;
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 15px solid #1565C0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

