/* 
    This is the css script for styling ontology related pages and their components.
    The ontology pages includes the general ontology overview, class tree, property tree, Mapping, and ontology list view.
*/



/* 
-------------------------------------
The ontology list page styles. 
-------------------------------------
*/

#ontologyList-wrapper-div{
    /* 
        The style for the ontology list page.
    */

    margin: auto;
    width: 75%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #6C757D !important;
}

#ontology-list-facet-grid{
    /* 
        The style for the ontologies list page facet wrapper div.
    */

    padding-top: 50px;
}

.h-headers{
    /* 
        Style for the <h> headers in the ontology list page.
    */

    margin-bottom: 20px;
}

.ontology-card{
    /* 
        The styles for each ontology box in the ontology list view. 
    */

    border: 1px black solid;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    margin-right: 5px;
    height: auto;
    text-align: justify;
    line-height: 1.5;
}


.ontology-card-description{
    /* 
        The styles for the description part for each ontology box in the ontology list view. 
    */

    margin-top: 30px;
}

.ontology-id-tag{
    margin-right: 10px;
    background-color: #005C5F;
    color: white;

}




#ontology-filter > div{
    /* 
        The syle for the search input wrapper div in the ontology list page. 
    */

    margin-top: 40px;
}

.ontology-card-meta-data > div{
    /* 
        The styles for the stats part (right side) for each ontology box in the ontology list view. 
    */

    margin-right: 0;
    margin-left: 30%;
}

#ontologylist-search-grid > .MuiFormControl-root.MuiTextField-root{
    /* 
       The syle for the search input field in the ontology list page.
    */

    width: 80%;
    background-color: white;
}

#ontologylist-search-grid > .MuiFormControl-root.MuiTextField-root > .MuiOutlinedInput-root > .MuiInputBase-input{
    /* 
       The syle for the search input field font in the ontology list page.
    */

    font-size: 15px;
}


#ontologylist-sort-grid > div{
    /* 
        The styles for sort type drop-down menu container in the ontology list view.
    */

    float: right;
    
}

#ontologylist-sort-grid> .MuiInputBase-root{
    /* 
        The styles for sort type drop-down menu in the ontology list view.
    */

    width: 60%;
    font-size: 15px;
    padding-bottom: 5px;
}



/* 
-------------------------------------
The ontology detail page styles. It contains the ontology overview page.
-------------------------------------
*/

.ontology-detail-table{
    /* 
        The styles for the ontology ovewview tables (Detail and Metrics) 
    */

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

.ontology-detail-table  td, th{
    /* 
        The styles for the ontology ovewview tables (Detail and Metrics) rows. 
    */

    border: 1px solid #dad2d2;
    text-align: left;
    padding: 8px;
}

.ontology-overview-table-id-column{
    /* 
        The style for the Identifiers columns in the ontology tables in the ovewview page.
    */
    
    background-color: #dddddd;
}

.ontology-detail-table-wrapper{
    /* 
        The wrapper style for the tables in the ontology overview.  
    */

    padding-left: 30px;
}

.copy-link-btn{
    /* 
        The styles for the copy link (url) buttons. 
    */

    margin-left: 20px !important;
    font-size: 10px !important;
    padding: 5px !important;
    background-color: rgb(32, 128, 73) !important;
    height: 20px;
    width: 20px;
}

.download-ontology-btn{
    /* 
        The styles for the download buttons for an ontology. 
    */

    margin-right: 20px !important;
}



/* 
-------------------------------------
The Tree view and detail table styles (for both classes and properties)
-------------------------------------
*/

.tree-view-container{
    /* 
        The tree page containers. It includes both the tree view and the detail table.
    */
    padding: 20px;
}

.tree-container{
    /*
        The styles for the tree view container. 
        It is responsible for the left part of the tree page that keeps the tree inside. 
     */

    height: 1000px;
    overflow-y: scroll;
    padding-bottom: 500px;
    padding-top: 50px;
    z-index: 999;
    padding-left: 10x;
    padding-right: 10px;
}

.node-table-container{
    /* 
        The styles for the container that wrapp a node (class/property) detail table on the right side of the tree view page.
    */

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.reset-tree-btn{
    /* 
        The styles for the Reset Tree button.
    */

    margin-bottom: 10px !important;
}

.loading-sign-div{
    /* 
        The styles for the loading sign while loading a tree view.
    */

    margin-left: 100px;
    margin-top: 100px;    
}

.p-icon-style{
    /* 
        The styles for the P symbol. 
        The symbol shows the "part_of" relation between a node and its parent in the tree.
    */
    
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 50px;
    font-size: 10px;
}


.node-metadata-label{
    /* 
        The metadata label style for nodes (class/property)  in the detail table. 
    */

    font-weight: bold !important;
    font-size: 15px !important;
    background-color: rgb(202, 219, 245);
    padding: 5px;
    text-align: center;
}

.node-metadata-value{
    /* 
        The metadata value style for nodes (class/property)  in the detail table. 
    */

    padding: 7px;
    font-size: 15px !important;
    text-align: justify !important;
}

.node-detail-table-row{
    /* 
        The table row style for nodes (class/property)  in the detail table. 
    */

    border-bottom: 1px solid black;
}


.tree-node-li {
    /* 
        The style for a node (class/property) in a tree view
    */

    padding-left: 2em;
    margin-bottom: 5px;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;    
    border-left: 1px dotted !important;
    border-left-color: gray;
}

.tree-node-li::before{
    /* 
        For thr tree view heirarchy style.
    */

    content: "...";
}


.li-label-text:hover{
    /* 
        The style for mouse over a node text on a tree veiw.
    */

    background-color: rgb(188, 188, 238);
}

.clicked{
    /* 
        The style for a clicked (selected) node in a tree view. 
    */

    background-color: rgb(110, 175, 175);
    color: black;
    font-weight: bold;
}

.fa{
    /* 
        Forntawsome style modification for the tree view. 
    */

    display: inline !important;
    border: 1px solid;
    margin-right: 5px;
}

.closed > i{
    /* 
        The style for a node expand icon when it is closed and has children nodes.
    */

    color: green;
}

.opened > i{   
    /* 
        The style for a node expand icon when it is expanded and has children nodes.
    */

    color: red;
}

.leaf-node > i{  
     /* 
        The style for a node expand icon it has not children nodes (leaf node).
    */

    color: gray;
}

