/* 
    This is the css script for styling search component.
    This page includes the search form, results, pagination, and facets.
*/


/* 
-------------------------------------
The Search form styles 
-------------------------------------
*/
#autocomplete-container{
    /* 
       The style for the autocomplete field
    */
    height: 200px;
    border: 0.5px solid black;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 10px;
    z-index: 999;
    padding-left: 10x;
    padding-right: 10px;
}
.autocomplete-item{
    /* 
       The style for the autocomplete items
    */
    margin-left: 10px;
}
#jumpresult-container{
    /* 
       The style for the jump autocomplete field
    */
    height: 200px;
    border: 0.5px solid black;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 10px;
    z-index: 999;
    padding-left: 10x;
    padding-right: 10px;
}
.jump-autocomplete-item{
    /* 
       The style for the jump autocomplete field
    */
    margin-left: 10px;
}
#search-box {
    /* 
       The style for search bar
    */
        border-right: 0;
}

#search-icon{
    /* 
       The style for search icon
    */
    margin-left: 7px;
    margin-bottom: 0.1em;
    margin-bottom: 0;
    line-height: 0.88em;
    position: relative;
    vertical-align: top;
}

/* 
-------------------------------------
The Search results styles 
-------------------------------------
*/

#searchterm-wrapper{
    /* 
       The style for search terms
    */
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 50px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#result-input{
    /* 
       The style for search form input in search results page
    */
    

}
.search-result-card{
    /* 
       The style for search result cards of any searched term
    */
    border: 1px black solid;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    margin-right: 2px;
    height: auto;
    text-align: justify;
}
.searchresult-card-description{
    /* 
       The style inside search result card for description
    */
    font-size: 18px;
    margin-top: 30px;  
    text-decoration: none;
}
.result-term-link{
    /* 
       The style inside search result card for linking clicked search term to its detail page
    */
    text-decoration: none;
}
.searchresult-iri{
    /* 
       The style for iri element in search result card
    */
    font-size: 13px
}
.search-title{
    /* 
       The style for title of search result card
    */
    font-size: 25px;
    text-align: justify;
}

/* 
-------------------------------------
The Facet fields in Search results styles 
-------------------------------------
*/

#search-facet-container-box{
    /* 
       The style for facet container box
    */
    
    
    margin-top: 40px;
    padding: 20px;
    color: #6C757D !important;
}
#facet-ontologies-list{
    /* 
       The style for ontologies list in facet box
    */
    background-color: white;
    border-radius: 15px;
    padding-top: 15px;
}

#facet-types-list{
    /* 
       The style for types (class, props, individuals and ontologies) in facet type box
    */
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}

.ontoloyRow:hover{
    /* 
       The style for colour changes for mouse hover in ontology facet box
    */
    background-color: rgb(75, 238, 170);
    border-radius: 15px;
}

.typeRow:hover{
    /* 
       The style for colour changes for mouse hover in type facet box
    */
    background-color: rgb(75, 238, 170);
    border-radius: 15px;
}

.result-count{
    /* 
       The style for counter in facet fields
    */
    border-radius: 50px;
    background-color: blue;
    color: white;
    padding: auto;
    margin-top: 10px;
    text-align: center;
    width: auto;
}