.term-set-card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

#termset-page-action-bar {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
