.class-list-tablle-holder {
    overflow-x: auto;
    overflow-y: scroll;
    transform: rotateX(180deg);
    padding: 20px;
}

.class-list-tablle-holder table {
    transform: rotateX(180deg);
}

.term-table tbody {
    display: block;
    height: 1000px;
    overflow: auto;
    direction: ltr;
}

.term-table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    direction: ltr;
}

.term-table td {
    /*width: 300px;*/
}

.term-list-table {
    margin-top: 30px;
    width: 100%;
}

.table-list-label-anchor {
    color: black;
    text-decoration: underline;
}

.result-per-page-dropdown-container {
    margin-left: 50px;
    background-color: white;
    border-color: white;
    color: #42484e;
}

.is-loading-term-list {
    margin-right: 50%;
}

.number-of-result-text-container {
    padding-top: 8px;
}

.show-hidden-column {
    background-color: #2e7a7b;
    width: 180px;
    color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
}

.table-header-cell {
    width: 300px;
    font-size: 13px;
    text-align: center;
}

.table-header-cell-small {
    width: 40px;
    font-size: 13px;
    text-align: center;
}

.table-body-cell {
    width: 300px;
    text-align: left;
    font-size: 13px;
    padding: 20px !important;
}

.table-body-cell-small {
    font-size: 13px;
    padding: 0px !important;
    border-right: 1px #c4c0c0 solid;
}

.eye-icon {
    display: inline;
    cursor: pointer;
}
