.toggleButtonLabel {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 49px;
    margin-bottom: 0;     
}

.truncate-toggleButtonLabel {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.toggleButtonLabel input {
    display:none;
}
  
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292828;    
    -webkit-transition: .4s;
    transition: .4s;
}
  
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 49px;
    width: 22px;
    left: 78px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(139, 136, 136);
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider-off::before{
    background-color: #292828;
}
  
input:checked + .toggle-slider {
    background-color: #c4bebe;
}
  
input:checked + .toggle-slider:before {
    -webkit-transform: translateX(-78px);
    -ms-transform: translateX(-78px);
    transform: translateX(-78px); /* how much the slider shif to left */
}
  
.toggleButton-on{    
    left: 60%;
    color: white;
}

.toggleButton-off{
    left: 60%;    
    color: white;
}
  
.toggleButton-on, .toggleButton-off{    
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;    
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
  
input:checked + .toggle-slider .toggleButton-on{
    display: block;
}
  
input:checked + .toggle-slider .toggleButton-off{
    /* display: none; */
}
  
.toggle-slider.round {
    /* border-radius: 20px; */
}
  
.toggle-slider.round:before {
    /* border-radius: 50%; */
}

input:focus + .toggle-slider {
    /* box-shadow: 0 0 1px #2196F3; */
}