table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  td, th {
    border: 1px solid #dad2d2;
    text-align: left;
    padding: 8px;
  }
  

  .ontology-info-table-prop{
    background-color: #dddddd;
  }

  .ontology-stats-table-prop{
    background-color: #dddddd;
  }

  .ontology-download-table-prop{
      background-color: #dddddd;
  }

  #info-table-wrapper{
    padding-left: 30px;
  }

  #ontology-download-wrapper{
    padding-left: 30px;
  }

  .copy-link-btn{
    margin-left: 20px !important;
    font-size: 10px !important;
    padding: 5px !important;
    background-color: rgb(32, 128, 73) !important;
    height: 20px;
    width: 20px;
  }

  .download-ontology-btn{
    margin-right: 20px !important;
  }

  